#babtitle {

letter-spacing: 32px;
font-family: DX새날B ; 
font-size: 70pt; 
text-shadow: 0 0 10px #fff,        
 0 0 20px #fff,         
 0 0 30px #fff,         
 0 0 40px #ff00de,         
 0 0 70px #ff00de,        
 0 0 80px #ff00de,         
 0 0 100px #ff00de,      
 0 0 150px #ff00de;}
